<header>
  <h2 class='logo'>LearNow</h2>
  <form method="POST" action="#">
    <!-- <p class="d-inline">Logged in as:</p> -->
  </form>

  <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User Name
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item" type="button">Profile</button>
        <button class="dropdown-item" type="button">Logout</button>
      </div>
    </div>
</header>
