<header>
  <div class="header-container">
    <h2 class="logo">LearNow</h2>

    <div>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          <!-- false should be user_id, but it's not loading properly -->
            <% if (user_id) { %> 
              Action
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/u/<%=user_id%>">Profile</a>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
          <% } else { %>
            Action
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/register">Register</a>
          </div>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</header>
