<header>
  <div class="header-container">
    <h2 class='logo'>LearNow</h2>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="user-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <form method="POST" action="#">
                <!-- <p class="d-inline">Logged in as:</p> -->
              </form>
              User Name
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" type="button">Profile</button>
          <button class="dropdown-item" type="button">Logout</button>
        </div>
      </div>
  </div>
</header>
