<!--
- Search bar
- My Resources
- Categories
  - Science
  - ....


  -->
<nav>
  <ul>
    <li data-toggle="modal" data-target="#modal-create-new">New Resource</li>

    <% include ../new_resource %>

    <li><a href="/my_resources">My Resources</a></li>
    <li>
      <form class="form-inline md-form form-sm active-cyan-2 mt-2">
        <input
          class="form-control form-control-sm mr-3 w-75"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
        <i class="fas fa-search" aria-hidden="true"></i>
      </form>
    </li>
    <li>Categories</li>
  </ul>
</nav>
