<nav class="sidebar">
  <ul>
    <i class="fas fa-plus fa-2x"
      ><li
        data-toggle="modal"
        data-target="#modal-create-new"
        class="hover-show"
      >
        New Resource
      </li></i
    >

    <i class="fas fa-book fa-2x">
      <li class="hover-show"><a href="/my_resources">My Resources</a></li></i
    >

    <i class="fas fa-search fa-2x" aria-hidden="true">
      <li class="hover-show">
        <form
          id="search-category"
          class="form-inline md-form form-sm active-cyan-2 mt-2"
        >
          <input
            name="categories"
            class="form-control form-control-sm mr-3 w-75"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
        </form></li
    ></i>

    <i class="fas fa-list-ul fa-2x">
      <li class="hover-show">
        <a
          href="#pageSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Categories
        </a>
      </li>
    </i>

    <ul class="collapse list-unstyled" id="pageSubmenu"></ul>
  </ul>
</nav>

<% include ../new_resource %>
