<div class="modal" id="modal-clicked-resource">
  <div class="modal-dialog-scrolled" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="resource-modal-title"><!--Resource Title--></h5>
        <button class="close close-button">&times;</button>
      </div>

      <div class="modal-body">
        <div id="resource-id"></div>
        <a href="" class="clicked-url-link" target="_blank"
        >
        <section class="resource-content">
         <img src="" class="card-img-top clicked-resource-img"/>
          <div class="url-preview-info">
          <h5 class= "modal-url-title"></h5>
          <p class="modal-url-description"></p>
        </div>
          <!--resource preview-->
        </section>
      </a>
        <section class="resource-description-container">
          <h6 id="resource-owner" class="title">Posted by: Resource owner</h6>
          <p class="modal-description"></p>
        </section>
        <section class="resource-new-comment">
          <form id="new-comment">
            <input name="comment" class="comment-input" type="text" placeholder="Write a comment" onfocus="this.value=''" />
            <button type="submit" class="btn btn-secondary comment-button" onclick="submitcomment()">Submit</button>
          </form>
        </section>
        <section class="resource-comment-container">
          <h6 class="title">Comments</h6>
          <!--Comments template-->
      </div>
    </div>
  </div>
</div>
<script> function submitcomment(){

  document.forms["new-comment"].submit(); //first submit
  document.forms["new-comment"].reset(); //and then reset the form values

 // document.getElementById("new-comment").reset();
} </script>
