<div class="modal" id="modal-clicked-resource">
  <div class="modal-dialog-scrolled" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="resource-modal-title"><!--Resource Title--></h5>
        <button class="close close-button">&times;</button>
      </div>

      <div class="modal-body">
        <div id="resource-id"></div>
        <section class="resource-content">
          <img src="" class="card-img-top clicked-resource-img" />
          <!--resource preview-->
        </section>
        <section class="resource-description-container">
          <h6 id="resource-owner" class="title">Posted by: Resource owner</h6>
          <p class="modal-description"></p>
        </section>
        <section class="resource-new-comment">
          <form id="new-comment">
            <input name="comment" type="text" value="Type a response" />
            <input type="submit" />
          </form>
        </section>
        <section class="resource-comment-container">
          <h6 class="title">Comments</h6>
          <!--Comments template-->
          <section class="comment">
            <p class="commenter">User_Name</p>
            <p>comment test</p>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>
