<div class="modal" id="modal-clicked-resource">
  <div class="modal-dialog-scrolled" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="resource-modal-title"><!--Resource Title-->></h5>
        <button type="button" class="close close-button" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <img src="" class="card-img-top clicked-resource-img" />
        <section class="resource-content">
          <p class="modal-description"></p>
          <p>URL</p>
        </section>
        <section class="resource-comment-container">
          <h6 class="comments-title">Comments:</h6>
          <!--Comments go here-->
          <section class="comment">
            <p class="commenter">User 1</p>
            <p>
              test comment 1 Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Exercitationem amet cum numquam, in nesciunt ipsum inventore
              corporis eveniet possimus, atque necessitatibus sapiente!
              Consequatur soluta dicta omnis similique, commodi suscipit odio
              totam delectus minus magni iste impedit aliquid fugit veniam
              voluptas?
            </p>
          </section>
          <section class="comment">
              <p class="commenter">User 1</p>
              <p>
                test comment 1 Lorem ipsum dolor sit amet consectetur adipisicing

              </p>
            </section>

      </div>
    </div>
  </div>
</div>
