<div class="modal" id="modal-clicked-resource">
  <div class="modal-dialog-scrolled" role="document">
    <div class="modal-content" id="modal-content">
      <div class="modal-header" id="new-resource-header">
        <h5 class="modal-title">Resource Title</h5>
        <button
          type="button"
          class="close close-button"
          aria-label="Close"
          data-dismiss="modal"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <img src="" class="card-img-top resource-img" />
        <span>
          <p></p>
          <p>URL</p>
        </span>
        <span class="resource-comment-container">
          <div></div>
          <!--Comments go here-->
        </span>
      </div>
    </div>
  </div>
</div>
