<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LearNow</title>
  </head>
  <body>
    <% include ./partials/header %>

    <div class="resourcecontainer">
      <!-- this portion is pushed in using jquery and ajax -->
    </div>
  </body>

  <script type="text/javascript" src="/scripts/app.js"></script>
</html>
