  <div class="modal" id="modal-create-new">
    <div class="modal-dialog-scrolled" role="document">
      <div class="modal-content" id="modal-content">
        <div class="modal-header" id="new-resource-header">
          <h5 class="modal-title">Create new resource</h5>
          <button type="button" class="close close-button" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="/api/input" method="POST" class="form-group">
            
            <div class="new-resource-container">
            <label for="link">Link</label>
            <input name='link' type="text" class="form-control" placeholder="Link" />
            </div>

            <div class="new-resource-container">
            <label for="title">Title</label>
            <input name='title' type="text" class="form-control" id="resource-title" placeholder="Title" />
            </div>

            <div class="new-resource-container">
            <label for="description"> Description</label>
            <textarea name="description" class="form-control" cols="auto" rows="5"></textarea>
            </div>
            
            <div class="new-resource-container">
            <label for="category"> Category </label>
            <input name='category' type="text" class="form-control" placeholder="Category" />
             </div>

            <div class="new-resource-container">  
            <button type="submit" class="btn btn-primary submit-resource" data-dismiss="modal">Create new resource</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
    </div>
