  <div class="modal" id="modal-create-new">
      <div class="modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-content">
          <div class="modal-header" id="new-resource-header">
            <h5 class="modal-title">Create new resource</h5>
            <button type="button" class="close close-button" aria-label="Close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form action="/api/input" method="POST" class='form-group'>

              <label for="title"> Title
                <input type="text" class="form-control" id="resource-title" placeholder="Title" />
              </label>
              <br>

              <label for="link"> Link
                <input type="text" class="form-control" placeholder="Link" />
              </label>
              <br>
              <label for="description"> Description
                <textarea name="description" class="form-control" id="" cols="100" rows="10"></textarea>
              </label>
              <br>

              <div class="new-resource-footer">
                <div class="resource-category">
                  <label for="category"> Category
                    <input type="text" class="form-control" placeholder="Category" />
                  </label>
                </div>
                <button type="submit" class="btn btn-primary submit-resource">Create new resource</button>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
