  <div class="modal" id="modal-create-new">
      <div class="modal-dialog-scrolled" role="document">
        <div class="modal-content" id="modal-content">

          <div class="modal-header new-resource-header" >
            <h5 class="modal-title">Create new resource</h5>
            <button type="button" class="close close-button">
              <button class="close close-button">&times;</button>
            </button>
          </div>

          <div class="modal-body">
            <form action="/api/input" method="POST" >
              <div class="new-resource-container">
              <label for="link"> Link
                <input name='link' type="text" class="form-control" placeholder="Link" width="100%"/>
              </label>

              <br>
              <label for="title"> Title
                <input name='title' type="text" class="form-control" id="resource-title" placeholder="Title" />
              </label>

              <br>
              <label for="description"> Description
                <textarea name="description" class="form-control" id="" cols="100" rows="10"></textarea>
              </label>
              <br>

              <div class="new-resource-footer">
                <div class="resource-category">
                  <label for="category"> Category
                    <input name='category' type="text" class="form-control" placeholder="Category" />
                  </label>
                </div>
                <button type="submit" class="btn btn-primary submit-resource" data-dismiss="modal">Create new resource</button>
              </div>

            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
