.resourcescontainer {
  display: inline-block;
  height: 100%;
  /* justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline; */
}
.resources {
  margin: 1em;
  /* width: 20%;
  margin: auto; */
}

.description {
  margin-bottom: 0;
  font-size: 14px;
}

.card-title {
  margin-bottom: 1em;
  font-weight: bold;
  color: #616161;
  font-size: 20px;
}
.resource-stats {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 1.5em 1.5em;
  padding-top: 1em;
  border-top: 1px solid #dbdbdb;
  font-size: 14px;
}

.resource-stats .resource-timestamp {
  font-style: italic;
  color: #616161;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0;
}

.add-to-my-resources {
  margin-right: 10px;
}
.user-activity {
  display: flex;
  align-items: center;
}

.upvote-downvote {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.net-vote {
  margin-bottom: 0;
  font-size: 10px;
}

/* .arrows .upvote {
  margin-bottom: 10px;
} */
.arrows [data-activity="true"] {
  animation: pulse 0.5s;
  color: #3984e6;
}

.arrows [data-upvote="true"] {
  color: #3984e6;
  animation: pulse 0.5s;
}

.arrows [data-downvote="true"] {
  animation: pulse 0.5s;
  color: #b01b04;
}

.arrows [data-netVote="true"] {
  color: #3984e6;
}

.arrows [data-netVote="false"] {
  color: #b01b04;
}

.arrows:hover {
  cursor: pointer;
}

.arrows i {
  color: #616161;
  text-shadow: 0px 0px 3px rgba(193, 193, 189, 0.3);
}

.resources:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
  box-shadow: 0px 0px 12px 3px rgba(92, 64, 64, 0.2);
}

.hide {
  display: none;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
