#resourcescontainer {
  display: inline-block;
  /* justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: stretch; */

  padding: 1em 3em;
}
#resources {
  /* width: 20%;
  margin: auto; */
  margin: 1em 0;
  box-shadow:  10px 10px 28px -16px rgba(0,0,0,0.79);
}


.resource-stats {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  border-top: 1px solid black;
  font-size: 14px;
}

.resource-stats .resource-timestamp {
  font-style: italic;
}
.arrows {
  display: inline-flex;
}

.arrows i {
  padding: 0 10px;
}

.resources:hover {
  cursor: pointer;
  transform: scale(1.05);
}

