header {
  height: 8vh;
  position: fixed;
  background-color: lightgreen;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

header .logo {
  font-family: "Beth Ellen", cursive;
  color: maroon;
  margin-left: 20px;
}

header .logo:hover {
  text-decoration: none;
}

.navbar-nav {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: maroon;
}

.nav-link:hover {
  color: maroon;
}

#user-settings {
  background-color: white;
  color: black;
  border: none;
  margin-right: 1em;
}
