.header-container {
  height: 8vh;
  width: 100%;
  position: absolute;
}

.header-container .navbar-nav {
  float: right;
  margin: 1em 2em;
}

.header-container .dropdown {
  display: flex;
  align-items: center;
}

.fa-sort-down:before {
  margin-left: 2px;
}
.header-container .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  cursor: pointer;
}

.header-container .login-links {
  word-spacing: 15px;
}
