.home-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 1fr auto;
}

.sidebar {
  grid-area: 1/1/2/2;
}

#resourcescontainer {
  grid-area: 1/2/2/3;
  margin: 2em;
  padding: 1em;
  padding-top: 4vh;
}
