.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.modal-content {
  max-width: 80%;
  max-height: 40%;
  left: 100px;
  padding: 1em;
  justify-content: space-between;
}

/*NEW RESOURCES */
#modal-create-new {
  margin-top: 2em;
}

#modal-create-new .modal-backdrop {
  z-index: 1;
}

#modal-create-new .new-resource-container {
  margin: 1em 0;
  z-index: 2;
}

.close-button:active {
  outline: none;
}

/* RESOURCE MODAL */

#modal-clicked-resource {
  margin: 1.5em 0;
}

#modal-clicked-resource .resource-modal-title {
  font-weight: bold;
}

#modal-clicked-resource .resource-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 2px 5px 2px rgba(220, 220, 222, 0.5);
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin: 1em 2em;
}

#modal-clicked-resource .clicked-resource-img {
  height: 40%;
  max-width: 30%;
}
#modal-clicked-resource .clicked-url-link {
  color: #696564;
  text-decoration: none;
}

#modal-clicked-resource .url-preview-info {
  align-self: center;
  padding: 2em 1em;
}

#modal-clicked-resource .modal-url-title {
  font-weight: 700;
  margin-bottom: 20px;
}

#modal-clicked-resource .modal-url-description {
  font-size: 14px;
}
#modal-clicked-resource .resource-description-container {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.comment-input {
  padding-top: 2em;
  padding-bottom: 5px;
  width: 40%;
  border: 0;
  border-bottom: 1px solid #bfbfbf;
}

.comment-input:focus {
  width: 45%;
  outline: none;
  border-bottom: 2px solid #696564;
  transition: 0.3s ease 0s, left 0.3s ease 0s;
  opacity: 0.9;
}

#modal-clicked-resource .resource-comment-container {
  color: #696564;
}

#modal-clicked-resource .title {
  color: #696564;
  font-weight: bold;
  padding: 1em 0;
}

#modal-clicked-resource .commenter {
  font-weight: bold;
}

#modal-clicked-resource .comment {
  border: 1px solid #ebebeb;
  box-shadow: 2px 2px 5px 2px rgba(220, 220, 222, 0.5);
  padding: 1em;
  margin: 1.5em 0;
  border-radius: 5px;
  font-size: 14px;
}

.comment-button {
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  #modal-clicked-resource .resource-content {
    flex-direction: column;
    text-align: center;
  }
  #modal-clicked-resource .clicked-resource-img {
    height: auto;
    min-width: 100%;
    align-self: center;
    /* margin-top: 20px; */
  }
  #modal-clicked-resource .modal-url-title {
    font-weight: 700;
    margin-bottom: 20px;
  }

  #modal-clicked-resource .modal-url-description {
    font-size: 12px;
  }
}
