.sidebar {
  grid-area: 1/1/3/2;
  width: 60px;
  height: auto;
  background-color: teal;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar li {
  cursor: pointer;
}

.sidebar i {
  margin: 1em 10px;
}

.hover-show {
  display: none;
}

.sidebar:hover {
  font-size: 8px;
  width: 200px;
}

.sidebar:hover .hover-show {
  display: inline;
}
