.sidebar {
  width: 60px;
  height: 100%;
  background-color: #212121;
  z-index: 1;
  opacity: 0.6;
  position: fixed;
  left: 0;
  transition: 0.4s ease;
}

/*LOGO*/
.sidebar:hover .logo-container {
  margin-left: 10px;
}
.sidebar .learn-container {
  display: flex;
  align-content: center;
  padding: 0 10px;
  margin-top: 1em;
}

.sidebar .now-container {
  display: flex;
  align-content: center;
  padding: 0 20px;
  margin-top: -15px;
  transition: 0.4s ease-out;
}

.sidebar .logo-hover-show {
  display: none;
}
.sidebar:hover .logo-hover-show {
  display: block;
  font-size: 40px;
}

.sidebar:hover .learn-container {
  padding: 0 10px;
  transition: 0.5s ease-in;
}
.sidebar:hover .now-container {
  padding: 0 60px;
  transition: 0.3s ease-in;
}

.sidebar h1 {
  color: white;
  font-family: "Lobster", sans-serif;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar li {
  cursor: pointer;
  color: white;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar ul:first-child {
  margin-top: 4em;
}

.sidebar ul:nth-child(2) {
  padding-top: 2em;
}

.sidebar i {
  margin: 0.5em;
  color: white;
  text-shadow: 0px 0px 9px #212121;
}

.hover-show {
  display: none;
}

.sidebar:hover {
  width: 200px;
  transition: 0.5s ease;
  opacity: 100;
}

.sidebar:hover i {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 60px;
}

.sidebar:hover #search-category {
  width: 120px;
}

.sidebar:hover .hover-show {
  font-size: 12px;
  display: inline;
  margin-left: 10px;
  transition: 0.3s ease;
}
